{% extends "allauth/layouts/auth_card.html" %}
{% load allauth i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block auth_title %}Sign out of HydroServer{% endblock %}

{% block auth_subtitle %}
<p class="text-sm leading-6 text-gray-600">
    Confirm that you want to end your current session.
</p>
{% endblock %}

{% block auth_body %}
{% url 'account_logout' as action_url %}
{% element form method="post" action=action_url no_visible_fields=True tags="entrance,login" %}
    {% slot body %}
        {% csrf_token %}
        {{ redirect_field }}
    {% endslot %}
    {% slot actions %}
        {% element button type="submit" tags="prominent,login" %}
            {% trans "Sign Out" %}
        {% endelement %}
    {% endslot %}
{% endelement %}
{% endblock %}
