{% extends "allauth/layouts/auth_card.html" %}
{% load i18n allauth account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block auth_title %}Check your email{% endblock %}

{% block auth_subtitle %}
<p class="text-sm leading-6 text-gray-600">
    If an account exists for that email address, we've sent password reset instructions.
</p>
{% endblock %}

{% block auth_body %}
<p class="text-center text-sm leading-6 text-gray-600">
    If you do not receive the email within a few minutes, check your spam folder or try again.
</p>

{% url 'account_login' as login_url %}
{% element button href=login_url tags="prominent,login,outline,primary" %}
    {% trans "Return to sign in" %}
{% endelement %}
{% endblock %}
