{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block card_header %}{% endblock %}
{% block content %}
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% url 'account_change_password' as action_url %}
    <form method="post" action="{{ action_url }}" class="hs-form">
        {% csrf_token %}
        {{ redirect_field }}
        {% element fields form=form %}
        {% endelement %}
        <div class="hs-actions hs-actions--between">
            <a href="{% url 'account_reset_password' %}" class="hs-link">{% trans "Forgot Password?" %}</a>
            <button type="submit" class="hs-button hs-button--dialog-action">{% trans "Change Password" %}</button>
        </div>
    </form>
{% endblock content %}
