{% extends "allauth/layouts/auth_card.html" %}
{% load i18n allauth %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block auth_title %}Password updated{% endblock %}

{% block auth_subtitle %}
<p class="text-sm leading-6 text-gray-600">
    Your password has been changed successfully.
</p>
{% endblock %}

{% block auth_body %}
{% url 'account_login' as login_url %}
{% element button href=login_url tags="prominent,login" %}
    {% trans "Return to sign in" %}
{% endelement %}
{% endblock %}
