{% extends "allauth/layouts/auth_card.html" %}
{% load allauth i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block auth_title %}Create your HydroServer account{% endblock %}

{% block auth_subtitle %}
<p class="text-sm leading-6 text-gray-600">
    Already have an account?
    <a href="{{ login_url }}" class="font-medium text-primary transition-colors hover:text-primary-dark">Sign in</a>.
</p>
{% endblock %}

{% block auth_body %}
{% url 'account_signup_by_passkey' as action_url %}
{% element form form=form method="post" action=action_url tags="entrance,login" %}
    {% slot body %}
        {% csrf_token %}
        {% element fields form=form unlabeled=True tags="login" %}{% endelement %}
        {{ redirect_field }}
    {% endslot %}
    {% slot actions %}
        {% element button tags="prominent,login" type="submit" %}
            {% trans "Sign Up" %}
        {% endelement %}
    {% endslot %}
{% endelement %}

{% element hr %}{% endelement %}
{% element button href=signup_url tags="prominent,login,outline,primary" %}
    {% trans "Other options" %}
{% endelement %}
{% endblock %}
