{% load static i18n account_navigation %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock %} - HydroServer</title>
    <link rel="stylesheet" href="{% static 'design-system/html.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/hydroserver-icon-min.png' %}">
    {% block extra_head %}{% endblock %}
</head>
<body class="auth-page">
    <div class="auth-shell">
        <header class="auth-header">
            <a class="auth-back-link" href="{% account_back_url %}">← {% trans "Go back" %}</a>
        </header>

        <main class="auth-main">
            {% if messages %}
                <div class="auth-flashes">
                    {% for message in messages %}
                        <div class="hs-alert {% if message.tags == 'error' %}hs-alert--error{% elif message.tags == 'warning' %}hs-alert--warning{% elif message.tags == 'success' %}hs-alert--success{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% block content_outer %}{% block content %}{% endblock %}{% endblock %}
        </main>
    </div>
    {% block extra_body %}{% endblock %}
</body>
</html>
