node_modules
**/node_modules/
**/.vitepress/cache/
**/.vitepress/dist/
**/.vitepress/.temp/
**/__pycache__/
**/*.pyc

.idea*
.DS_Store
.terraform*
terraform.tfstate*
.env
.venv
playwright-report/
test-results/
tests/e2e/.auth/
