.env
/frontend/.env
.venv/
.venv*/
.pytest_cache
__pycache__/
db.sqlite3
/static/*
!/static/css/
/static/css/*
!/static/css/auth.css
!/static/img/
/static/img/*
!/static/img/hydroserver-icon-min.png
!/static/img/icon-color-thick.svg
!/static/img/hydroserver-auth-topography.png
!/static/img/archivo-latin-wght-normal.woff2
!/static/img/favicon-16x16.png
!/static/img/favicon-32x32.png
/media/
staticfiles/
/web/static/web/*
*.db
*test.ipynb
*test.yaml
**/launch.json
.coverage
coverage.txt
photos/
csrf_test.py
tmp/
dev_oidc_private_key.pem
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
deploy_package.zip

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
